/* Podstawowy CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.image-container {
    display: inline-block;
    width: 33.33%; /* Podział na trzy kolumny */
    height: 20.33vw; /* Wysokość kontenera w zależności od szerokości ekranu */
    overflow: hidden; /* Ukrycie nadmiarowych części obrazu */
}
.image-container img {
    width: 100%; /* Obraz wypełnia kontener */
    height: 100%; /* Dopasowanie wysokości obrazu */
    object-fit: cover; /* Przycięcie obrazu bez zmiany proporcji */
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Logo */
.logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

/* Menu na dużych ekranach */
.menu a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 1.1em;
}

.menu a:hover {
    background-color: #444;
}






